.prompt{
    caret-shape: block;
    border: none;
    outline: none;
}

pre {
    padding: 1rem;
    overflow: auto;
    max-width: 100%;
  }
  
  pre code {
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
  }
  